@import '../../../honeycomb.config';

/*----------------------------------------------------------
|
|      BOOT FUNCTIONS
|
----------------------------------------------------------*/

/*
*
* Get nested variables
*
*/
@function map-deep-get($map, $keys...) {
    @each $key in $keys {
        $map: map-get($map, $key);
    }
    @return $map;
}


/*
*
* Strip number units
*
*/
@function strip-unit($number) {
  @if type-of($number) == 'number' and not unitless($number) {
    @return $number / ($number * 0 + 1);
  }

  @return $number;
}

$container-max-width: map-deep-get($options, 'grid', 'container', 'max-width') ;
$container-min-width: map-deep-get($options, 'grid', 'container', 'min-width') ;

$gutter-max-size: map-deep-get($options, 'grid', 'gutter', 'max-width');
$gutter-min-size: map-deep-get($options, 'grid', 'gutter', 'min-width');

@import './functions';
@import './mixins';