/*----------------------------------------------------------
|
|      SYSTEM GUTTER SIZE
|
----------------------------------------------------------*/

@mixin system-fluid-gutter($max-gutter-size, $min-gutter-size) {
    padding: 0 calc(#{fluid-size($max-gutter-size, $min-gutter-size)} / 2);

    @media screen and (max-width: $container-min-width) {
        padding: 0  calc(#{$min-gutter-size} / 2);
    }

    @media screen and (min-width: $container-max-width) {
        padding: 0  calc(#{$max-gutter-size} / 2);
    }

}

/*----------------------------------------------------------
|
|      SYSTEM FONT SIZE
|
----------------------------------------------------------*/

@mixin system-font($max-font-size, $min-font-size) {
    font-size: #{fluid-size($max-font-size, $min-font-size)};

    @media screen and (max-width: $container-min-width) {
        font-size: $min-font-size;
    }

    @media screen and (min-width: $container-max-width) {
        font-size: $max-font-size;
    }

}

/*----------------------------------------------------------
|
|      SYSTEM NESTED ROW HELPER
|
----------------------------------------------------------*/

@mixin system-nested-row-helper($max-gutter-size, $min-gutter-size) {
    width: calc(100% + #{fluid-size($max-gutter-size, $min-gutter-size)});
    margin-left: calc((#{fluid-size($max-gutter-size, $min-gutter-size)} / 2) * -1);

    @media screen and (max-width: $container-min-width) {
        width: calc(100% + #{$min-gutter-size});
        margin-left: 0  calc((#{$min-gutter-size} / 2) * -1);
    }

    @media screen and (min-width: $container-max-width) {
        width: calc(100% + #{$max-gutter-size});
        margin-left: 0  calc((#{$max-gutter-size} / 2) * -1);
    }
}

/*----------------------------------------------------------
|
|      LINE HEIGHT
|
----------------------------------------------------------*/

@mixin system-line-height($max-font-line-height, $min-font-line-height) {
    line-height: #{fluid-size($max-font-line-height, $min-font-line-height)};

    @media screen and (max-width: $container-min-width) {
        line-height: $min-font-line-height;
    }

    @media screen and (min-width: $container-max-width) {
        line-height: $max-font-line-height;
    }

}

/*----------------------------------------------------------
|
|      GUTTER
|
----------------------------------------------------------*/

@mixin gutter($property, $name) {
    $max-size: map-deep-get($options, 'gutters', #{$name}, 'max-size');
    $min-size: map-deep-get($options, 'gutters', #{$name}, 'min-size');

    #{$property}: fluid-size($max, $min);

    @media screen and (max-width: $container-min-width) {
        #{$property}: $min-size;
    }

    @media screen and (min-width: $container-max-width) {
        #{$property}: $max-size;
    }
}

/*----------------------------------------------------------
|
|      FONTS
|
----------------------------------------------------------*/

@mixin font($name) {
    $font-family: map-deep-get($options, 'fonts', #{$name}, 'font-family');
    $font-weight: map-deep-get($options, 'fonts', #{$name}, 'font-weight');
    $font-max-size: map-deep-get($options, 'fonts', #{$name}, 'max-size');
    $font-min-size: map-deep-get($options, 'fonts', #{$name}, 'min-size');
    $font-max-line-height: map-deep-get($options, 'fonts', #{$name}, 'max-line-height');
    $font-min-line-height: map-deep-get($options, 'fonts', #{$name}, 'min-line-height');

    font-family: $font-family;
    font-weight: $font-weight;
    @include system-font($font-max-size, $font-min-size);
    @include system-line-height($font-max-line-height, $font-min-line-height);
}